@{
    ViewData["Title"] = "Inicio";
    Layout = "_LayoutTest";

}

<h1 class="color-engine py-1 text-center"><b>Nomina Engine Air S.A DE C.V</b></h1>

<section class="bg-light text-center w-97 rounded-5 m-auto h-73  table-cont mb-4">

    <article class="row m-auto mt-2">
        <div class="col-12 col-md-6">
            <h5 id="selected-week"></h5>
        </div>
        <div class="col-12 col-md-6 p">
            <div class="row m-auto justify-content-center d-flex ">

                <div class="col-auto ">
                    <h4>Semana:</h4>
                </div>

                <div class="col-auto d-flex align-content-center p-1">
                    <input type="week" id="week" name="week">
                </div>

                <div class="col p-1">
                    <button class="btn btn-success" id="submit">Confirmar</button>
                </div>

            </div>
        </div>
    </article>

    <article class="row mt-2 table-nomina m-auto">
        <table class="table" id="nomina">
            <thead>
                <tr>
                    <th>Empleado</th>
                    <th>Sueldo semanal</th>
                    <th>Días laborados</th>
                    <th>Sueldo diario</th>
                    <th>Bonificación de gastos</th>
                    <th>Total de percepciones</th>
                    <th>Préstamo</th>
                    <th>Total de deducciones</th>
                    <th>Total pagado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <!-- Filas se agregarán dinámicamente aquí -->
            </tbody>
            <tfoot>
                <tr>
                    <th>Empleado</th>
                    <th>Sueldo semanal</th>
                    <th>Días laborados</th>
                    <th>Sueldo diario</th>
                    <th>Bonificación de gastos</th>
                    <th>Total de percepciones</th>
                    <th>Préstamo</th>
                    <th>Total de deducciones</th>
                    <th>Total pagado</th>
                    <th>Acción</th>
                </tr>
            </tfoot>
        </table>
    </article>

    <article class="row m-auto pt-2">
        <img src="~/Media/SVG/Plus.svg" alt="Alternate Text" class="plus" id="newEmpleado" />
        <p>Agregar Empleado</p>
    </article>

    <article class="row m-auto ">
        <div class="col-8 d-none d-md-block"></div>
        <div class="col-6 col-md-2">
            <img src="~/Media/SVG/Excel.svg" alt="Alternate Text" class="acions" />
            <p>Exportar a excel</p>
        </div>
        <div class="col-6 col-md-2">
            <img src="~/Media/SVG/file-arrow-down-solid.svg" alt="Alternate Text" class="acions" />
            <p>Descargar</p>
        </div>
    </article>


</section>



@* ******************   accesos    *********************** *@
<section class="row text-center justify-content-between w-97 m-auto" id="access">

    <article class="col-12 col-md mt-2  p">

        <div class="rounded-4 access-item me-3 w-95 h-100" id="card-start">

            <div class="p-2">
                <img src="~/Media/SVG/BonificacionGastos.svg" class="icon-access" alt="Alternate Text" />
            </div>
            <div class="p-1">
                <h4>Bonificación de gastos</h4>
            </div>

        </div>
    </article>

    <article class="col-12 col-md mt-2 p">

        <div class="shadow-lg rounded-4 access-item w-95 h-100">

            <div class="p-2">
                <img src="~/Media/SVG/Empleados.svg" class="icon-access" alt="Alternate Text" />
            </div>
            <div class="p-1">
                <h4>Empleados</h4>
            </div>

        </div>
    </article>

    <article class="col-12 col-md mt-2 p">

        <div class="shadow-lg rounded-4 access-item w-95 h-100">

            <div class="p-2">
                <img src="~/Media/SVG/Empleos.svg" class="icon-access" alt="Alternate Text" />
            </div>
            <div class="p-1">
                <h4>Empleos</h4>
            </div>

        </div>
    </article>

    <article class="col-12 col-md mt-2 p">

        <div class="shadow-lg  rounded-4 access-item w-95 h-100">

            <div class="p-2">
                <img src="~/Media/SVG/Prestamos.svg" class="icon-access" alt="Alternate Text" />
            </div>
            <div class="p-1">
                <h4>Prestamos</h4>
            </div>

        </div>
    </article>

    <article class="col-12 col-md mt-2 justify-content-center d-flex p">
        <div class="shadow-lg rounded-4 access-item  ms-3 w-95 h-100" id="card-end">

            <div class="p-2">
                <img src="~/Media/SVG/nomina.svg" class="icon-access" alt="Alternate Text" />
            </div>
            <div class="p-1">
                <h4>Finiquitos</h4>
            </div>

        </div>
    </article>

</section>


@section Scripts {
    @{
        <script src="~/js/TableMain.js"></script>
    }
}
