.main-option:hover {
    transform: scale(1.05);
    cursor: pointer;
    background: var(--color-cuarto);
    color: #fff;
}

.main-option {
    background: #fff;
    color: var(--eas);
}

.icons {
    width: 90%;
    margin: auto;
}

.dropdown-menu {
    border: none;
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
}

.dropdown-item:hover{
    background:var(--grey);
}

.acions{
    height:2.5rem;
    cursor:pointer;
}

.table-cont{
    height:73%;
}

@media (max-width: 768px) {
    #access {
        display:none;
    }
    .table-cont {
        height: 87%;
    }
}